@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}


/* Call icons */
@keyframes vibrate {
  0%, 100% { transform: translate(0); }
  20%, 60% { transform: translate(-1px, 1px); }
  40%, 80% { transform: translate(1px, -1px); }
}

.hover\:animate-vibrate-once:hover {
  animation: vibrate 0.2s linear 1;
}
/* Arrow */
.arrow-icon {
  width: 70px; /* Adjust the size as needed */
  height: 70px; /* Adjust the size as needed */
  filter: invert(32%) sepia(85%) saturate(5200%) hue-rotate(80deg) brightness(90%) contrast(95%);
}

/* AboutProject */
@keyframes slideInFromRight {
  0% {
    transform: translateX(100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.animate-slide-in {
  animation: slideInFromRight 1s ease-out;
}

/* Sistem */
  @keyframes fadeInRight {
    0% {
      opacity: 0;
      transform: translateX(100%);
    }
    100% {
      opacity: 1;
      transform: translateX(0);
    }
  }
  
  .fade-in-right {
    animation: fadeInRight 1s ease-out forwards;
  }
  
  /* Prezentation */
@keyframes slideInFromLeft {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.slide-in-left {
  animation: slideInFromLeft 1s ease-out;
}

  /* Animation line */
/* 1 */
  @keyframes draw {
    to {
      stroke-dashoffset: 0;
    }
  }
  
  .animate-draw path {
    
    animation: draw 5s linear forwards;
  }